{% extends 'base.html' %}
{% block extra_head %}
<script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
{% load chartit %}
{{ file_data_chart|load_charts:"container" }}
{% endblock extra_head %}

{% block content %}
<div class="container is-widescreen">
	<div class="hero-body">
    	<div id='container'> Chart will be rendered here </div>
    	<div class="columns">
    		<div class="column is-half is-offset-one-quarter">
		    	<form method='post'>
		    		{% csrf_token %}
		    		<button class="button is-primary is-medium">Update</button>
		    	</form>
	    	</div>
    	</div>
	</div>
</div>
{% endblock content %}